@import './styles/base.scss';

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}
.button{
  background-color: blue;
  color: white;
  font-weight: bold;
  padding:2rem 3rem;
  border: none;
  transition: all 0.3s;

  &:hover{
   opacity: 0.5;
  }
  &:active{
    transform:translateX(10%);
  }
}


